<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
	</configSections>
	<entityFramework>
		
	</entityFramework>
<connectionStrings>
	<add name="MeContext" connectionString="Data Source=.;Initial Catalog=MyTestDb;Integrated Security=True"/>
</connectionStrings>
</configuration>